* {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.3125;
  margin: 2rem;
  max-width: 65ch;
}

ul, ol {
  padding-left: 1em;
}

.block,
article > :not(:last-child) {
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lavender
}